//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education (64-bit)
//Part Number: GW1N-UV9EQ144C6/I5
//Device: GW1N-9
//Device Version: C
//Created Time: Sun 09 15 17:07:15 2024

IO_LOC "led_2" 42;
IO_PORT "led_2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_1" 40;
IO_PORT "led_1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_seg_o[7]" 90;
IO_PORT "disp_seg_o[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_seg_o[6]" 97;
IO_PORT "disp_seg_o[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_seg_o[5]" 116;
IO_PORT "disp_seg_o[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_seg_o[4]" 118;
IO_PORT "disp_seg_o[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_seg_o[3]" 120;
IO_PORT "disp_seg_o[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_seg_o[2]" 122;
IO_PORT "disp_seg_o[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_seg_o[1]" 124;
IO_PORT "disp_seg_o[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_seg_o[0]" 128;
IO_PORT "disp_seg_o[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_an_o[3]" 136;
IO_PORT "disp_an_o[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_an_o[2]" 134;
IO_PORT "disp_an_o[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_an_o[1]" 132;
IO_PORT "disp_an_o[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "disp_an_o[0]" 130;
IO_PORT "disp_an_o[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "sw_i" 34;
IO_PORT "sw_i" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rstn" 15;
IO_PORT "rstn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 11;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
